<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.customerly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application >

        <activity android:name="io.customerly.IAct_List"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/io_customerly__Activity"
            android:label="@string/io_customerly__activity_title_support"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name="io.customerly.IAct_Chat"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/io_customerly__Activity"
            android:label="@string/io_customerly__activity_title_chat"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name="io.customerly.IAct_FullScreenImage"
            android:configChanges="orientation|screenSize|keyboard"
            android:theme="@style/io_customerly__Activity"
            android:label="@string/io_customerly__image"
            android:windowSoftInputMode="adjustResize"/>

    </application>
</manifest>