<?xml version="1.0" encoding="utf-8"?><!--
    Copyright (C) 2017 Customerly
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.customerly">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".activity.conversations.ClyConversationsActivity"
            android:label="@string/io_customerly__support"
            android:theme="@style/io_customerly__Activity"
            android:configChanges = "orientation|keyboard|keyboardHidden|screenLayout|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.chat.ClyChatActivity"
            android:label="@string/io_customerly__activity_title_chat"
            android:theme="@style/io_customerly__Activity"
            android:configChanges = "orientation|keyboard|keyboardHidden|screenLayout|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.fullscreen.ClyFullScreenImageActivity"
            android:configChanges = "orientation|keyboard|keyboardHidden|screenLayout|screenSize"
            android:label="@string/io_customerly__image"
            android:theme="@style/io_customerly__Activity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ClyWebViewActivity"
            android:label="@string/io_customerly__webview_act_label"
            android:theme="@style/io_customerly__Activity"
            android:configChanges = "orientation|keyboard|keyboardHidden|screenLayout|screenSize"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.ClyOpenDownloadedFileActivity"
            android:theme="@android:style/Theme.NoDisplay"
            android:noHistory="true" />
        <provider
            android:name=".utils.download.ClyFileProvider"
            android:authorities="io.customerly.provider.${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/io_customerly__provider_paths" />
        </provider>
        <receiver android:name=".utils.download.ClyDownloadBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".utils.network.ClyNetworkReceiver" >
            <intent-filter>
                <!-- Only api <21 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"
                    tools:ignore="BatteryLife" />
            </intent-filter>
        </receiver>
    </application>

</manifest>